<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="table-main table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Images</th>
                            <th>Product Name</th>
                            <th>Price</th>
                            <th>Total</th>
                            <th>Remove</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for product in cart_obj.products.all %}
                        <tr>
                            <td class="thumbnail-img">
                                <a href="#">
                            <img class="img-fluid" src="{{ product.product_image.first.image.url  }}" alt="" />
                        </a>
                            </td>
                            <td class="name-pr">
                                <a href="#">
                            {{ product.title }}
                        </a>
                            </td>
                            <td class="price-pr">
                                <p>com {{ product.price }}</p>
                            </td>
                            <td class="quantity-box"><input type="number" size="4" value="1" min="0" step="1" class="c-input-text qty text"></td>
                            <td class="total-pr">
                                <p>$ 80.0</p>
                            </td>
                            <td class="remove-pr">
                                <a href="#">
                            <i class="fas fa-times"></i>
                        </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row my-5">
        <div class="col-lg-6 col-sm-6">
            <div class="coupon-box">
                <div class="input-group input-group-sm">
                    <input class="form-control" placeholder="Enter your coupon code" aria-label="Coupon code" type="text">
                    <div class="input-group-append">
                        <button class="btn btn-theme" type="button">Apply Coupon</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-sm-6">
            <div class="update-box">
                <input value="Update Cart" type="submit">
            </div>
        </div>
    </div>

    <div class="row my-5">
        <div class="col-lg-8 col-sm-12"></div>
        <div class="col-lg-4 col-sm-12">
            <div class="order-box">
                <h3>Order summary</h3>
                <div class="d-flex">
                    <h4>Sub Total</h4>
                    <div class="ml-auto font-weight-bold">{{ cart_obj.subtotal }}</div>
                </div>
                <hr class="my-1">
                <div class="d-flex gr-total">
                    <h5>Grand Total</h5>
                    <div class="ml-auto h5">{{ cart_obj.total }}</div>
                </div>
                <hr> </div>
        </div>
        <div class="col-12 d-flex shopping-box"><a href="checkout.html" class="ml-auto btn hvr-hover">Checkout</a> </div>
    </div>

</div>