{% extends 'homepage.html' %}
{% load static %}
{% block content %}
{% include 'include/header.html' %}

    <main class="main__content_wrapper">
        
        <!-- Start error section -->
        <section class="error__section section--padding">
            <div class="container">
                <div class="row row-cols-1">
                    <div class="col">
                        <div class="error__content text-center">
                            <img class="error__content--img mb-50" src="{% static 'assets/img/other/404-thumb.webp' %}" alt="error-img">
                            <h2 class="error__content--title">Упс! Мы не нашли эту страницу  </h2>
                            <p class="error__content--desc">По данному адресу товаров на сайте не найдено, либо у вас нет доступа для просмотра информации по данному адресу.</p>
                            <a class="error__content--btn primary__btn" href="{% url 'index' %}">Вернуться домой</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End error section -->

        <!-- Start Newsletter banner section -->
        <section class="newsletter__banner--section section--padding">
            <div class="container">
                <div class="newsletter__banner--thumbnail position__relative">
                    <img class="newsletter__banner--thumbnail__img" src="{% static 'assets/img/banner/banner-bg7.webp' %}" alt="newsletter-banner">
                    <div class="newsletter__content newsletter__subscribe">
                        <h5 class="newsletter__content--subtitle text-white">Хотите предлагать регулярно?</h5>
                        <h2 class="newsletter__content--title text-white h3 mb-25">Подпишитесь на нашу рассылку <br>
                            для получения ежедневного обновления</h2>
                        <form class="newsletter__subscribe--form position__relative" action="404.html#">
                            <label>
                                <input class="newsletter__subscribe--input" placeholder="Ваш email" type="email">
                            </label>
                            <button class="newsletter__subscribe--button primary__btn" type="submit">Подписаться
                                <svg class="newsletter__subscribe--button__icon" xmlns="http://www.w3.org/2000/svg" width="9.159" height="7.85" viewBox="0 0 9.159 7.85">
                                    <path  data-name="Icon material-send" d="M3,12.35l9.154-3.925L3,4.5,3,7.553l6.542.872L3,9.3Z" transform="translate(-3 -4.5)" fill="currentColor"/>
                                </svg>
                            </button>
                        </form>   
                    </div>
                </div>
            </div>
        </section>
        <!-- End Newsletter banner section -->

    </main>

    {% include 'include/footer.html' %}

    <!-- Scroll top bar -->
    <button id="scroll__top"><svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="48" d="M112 244l144-144 144 144M256 120v292"/></svg></button>

    
{% endblock %}